<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- BASICS -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>benvanbeek.Com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="src/Presentation/img/ben.ico">
        <link rel="stylesheet" type="text/css" href="src/Presentation/css/isotope.css" media="screen" />	
        <link rel="stylesheet" href="src/Presentation/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="src/Presentation/css/bootstrap.css">
        <link rel="stylesheet" href="src/Presentation/css/bootstrap-theme.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="src/Presentation/css/style.css">
        <link rel="stylesheet" href="src/Presentation/css/jquery.bxslider.css" />
        <!-- skin -->
        <link rel="stylesheet" href="src/Presentation/skin/default.css">
    </head>

    <body>
        <section id="header" class="appear"></section>
        <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px;" data-300="line-height:60px; height:60px; opacity:0.5">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="fa fa-bars color-white"></span>
                    </button>
                    <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">Ben Van Beek</a></h1>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" data-0="margin-top:25px;" data-300="margin-top:5px;">
                        <li class="active"><a href="#header">Home</a></li>
                        <li><a href="#section-skills">Skills</a></li>
                        <li><a href="#section-works">Portfolio</a></li>
                        <li><a href="#section-contact">Contact</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        <!-- header picture-->
        <section class="featured">
            <div class="row">
                <div class="col-md-6">
                    <div class="align-center">
                        <h2 class="slogan">PHP-developer</h2>
                        <p></p>	
                    </div>
                </div>
            </div>
        </section>
        <!-- /header picture -->
        <!-- about me -->
        <section id="section-aboutme" class="section pad-bot30 bg-white">
            <div class="container"> 
                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="section-header">
                            <h2 class="section-heading animated" data-animation="bounceInUp">About me</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row mar-bot40">
                    <div class="col-lg-8 col-lg-offset-2 mar-bot40">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="align-center">
                                    <p>I'm a 26 year old PHP-developer who's trying to make the world a better place, by well designed websites for everyone!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mar-bot40">
                        <div class="col-lg-8 col-lg-offset-2 mar-top40" >
                            <div class="align-center">
                                <h4 class="text-bold">Hobbies</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="align-center">
                                        <i class="fa fa-code fa-2x mar-bot20"></i>
                                        <h5>Programming</h5>
                                        <p>Just trying to invent the new facebook..</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="align-center">
                                        <i class="fa fa-2x mar-bot20">&#xf1e3;</i>
                                        <h5>Football</h5>
                                        <p>Outdoors, indoors, watching from the couch, I do it all!</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="align-center">
                                        <i class="fa fa-film fa-2x mar-bot20"></i>
                                        <h5>Movies/series</h5>
                                        <p>If it's any good, I've seen it.</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="align-center">
                                        <i class="fa fa-gamepad fa-2x mar-bot20"></i>
                                        <h5>Gaming/Poker</h5>
                                        <p>COD, Fifa, No limit hold'em .. you name it, I've played it!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- /about me -->
        <!-- Parallax 1 -->
        <section id="parallax1" class="section" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">				
                    <div class="col-lg-12">
                        <div class="align-center">
                            <div class="quotes pad-top40 pad-bot40 clearfix">
                                <h5>
                                    "It's not hard, it's software."
                                </h5>
                                <br/>
                                <span class="author">&mdash; JVB</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>	
        </section>
        <!-- /parallax 1 -->
        <!-- about -->
        <section id="section-skills" class="section appear clearfix">
            <div class="container">

                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="section-header">
                            <h2 class="section-heading animated" data-animation="bounceInUp">Skills</h2>
                            <p>And these are just the programming ones...</p>
                        </div>
                    </div>
                </div>

                <div class="row align-center mar-top20 mar-bot40">
                    <div class="row mar-bot10">
                        <div class="col-md-3">
                            <div class="align-center">
                                <i class="fa fa-html5 fa-2x mar-bot20"></i><i class="fa fa-css3 fa-2x mar-bot20"></i>
                                <h4 class="text-bold">HTML5&CSS3</h4>
                                <p>Responsive developed applications for a lean front-end experience</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="align-center">
                                <i class="fa fa-2x mar-bot20">&#xf1cc;</i>
                                <h4 class="text-bold">Javascript</h4>
                                <p>Creating interactivity with the user through own written JS</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="align-center">
                                <i class="fa fa-2x mar-bot20">&#xf1cc;</i>
                                <h4 class="text-bold">jQuery</h4>
                                <p>Creating interactivity with help from the jQuery library </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="align-center">
                                <i class="fa fa-2x mar-bot20">&#xf1c0;</i>
                                <h4 class="text-bold">MySQL</h4>
                                <p>Creating and working with various relational databases</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mar-bot10">
                        <div class="col-md-2 col-md-offset-2">
                            <div class="align-center">
                                <i class="fa fa-arrow-circle-right fa-2x mar-bot20"></i>
                                <h4 class="text-bold">Doctrine</h4>
                                <p>ORM Mapping - Coming soon ... </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="align-center">
                                <i class="fa fa-github fa-2x mar-bot20"></i>
                                <h4 class="text-bold">GIT</h4>
                                <p>Maintaining projects on my <a style="text-decoration: underline" href="https://github.com/Bensonsonson">Github</a> & <a style="text-decoration: underline" href="https://bitbucket.org/Bensonsonsonson">Bitbucket</a> repository</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="align-center">
                                <i class="fa fa-music fa-2x mar-bot20"></i>
                                <h4 class="text-bold">Symfony</h4>
                                <p>PHP MVC framework - Coming soon ... </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mar-bot10">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="align-center">
                                <i class="fa fa-drupal fa-2x mar-bot20"></i>
                                <h4 class="text-bold">Drupal</h4>
                                <p>Content management system - Coming soon ... </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="align-center">
                                <i class="fa fa-group fa-2x mar-bot20"></i>
                                <h4 class="text-bold">SCRUM</h4>
                                <p>Agile software development methodology - Coming soon ... </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <img src='src/Presentation/img/php1.gif' alt='PHP logo' class="pad-bot20">
                            <div class="align-center">
                                <h4 class="text-bold">PHP</h4>
                                <p>Writing own code from scratch in an MVC structure based on OOP principals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /about -->
        <!-- Parallax2 -->
        <section id="parallax2" class="section" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="text-center color-white">&lt;?php include 'amazingPortfolio.below';<span> </span>?&gt;</h2>
                    <p class="color-white text-center"></p>
                </div>
            </div>	
        </section>
        <!-- /stats -->
        <!-- Portfolio -->
        <section id="section-works" class="section appear clearfix">
            <div class="container">
                <div class="row mar-bot20">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="section-header">
                            <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
                            <p>Summary of completed projects</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <ul class="bxslider">
                                    <li>
                                        <div class="row">
                                            <img src="src/Presentation/img/BakkerijCollage4.jpg" class="img img-square"/>
                                        </div>
                                        <div class="row mar-bot40">
                                            <div class="col-md-6 col-md-offset-3 align-center">
                                                <a class="btn btn-theme" href="/Bakkerij">
                                                    <i class="fa fa-eye"></i> View demo
                                                </a>
                                                <a class="btn btn-theme" href="Downloads/Bakkerij.rar" download="BakkerijBenVanBeek.rar">
                                                    <i class="fa fa-download"></i> Download code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row mar-top40 mar-bot40">
                                            <div class="col-md-10 col-md-offset-1">
                                                <h4>Online Bakkerij</h4>
                                                <p>Dit project zorgt ervoor dat je online bestellingen kan maken bij een fictieve bakkerij.
                                                    Je moet je eerst registreren, of aanmelden met je account. Vervolgens kan je kiezen uit allerlei producten om je bestelling samen te stellen.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /portfolio -->
        <!-- Parallax 3 -->
        <section id="parallax3" class="section parallax" data-stellar-background-ratio="0.5">	
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">"If you can dream it, you can achieve it."</blockquote>
                <p class="color-white">–Zig Ziglar</p>
            </div>
        </section>
        <!-- /parallax 3 -->
        <!-- contact -->
        <section id="section-contact" class="section appear clearfix">
            <div class="container">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact Me</h2>
                </div>
                <div class="row mar-top40">
                    <div class="col-md-3 col-md-offset-1">
                        <div class="row">
                            <a href="tel:+32474897951">
                                <p><i class="fa fa-phone"></i> +32 474 89 79 51</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="mailto:ben_van_beek@hotmail.com">
                                <p><i class="fa fa-envelope"></i> ben_van_beek@hotmail.com</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://github.com/Bensonsonson" target="_blank" class="icoGithub" title="Github">
                                <p><i class="fa fa-github"></i> github.com/Bensonsonson</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://bitbucket.org/Bensonsonsonson" target="_blank" class="icoBitbucket" title="Bitbucket">
                                <p><i class="fa fa-bitbucket"></i> bitbucket.com/Bensonsonsonson</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://be.linkedin.com/in/benvanbeek" target="_blank" class="icoLinkedin" title="Linkedin">
                                <p><i class="fa fa-linkedin"></i> be.linkedin.com/in/benvanbeek</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://www.facebook.com/ben.van.beek" target="_blank" class="icoFacebook" title="Facebook">
                                <p><i class="fa fa-facebook-square"></i> / ben.van.beek</p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://twitter.com/bensonsonson" target="_blank" class="icoTwitter" title="Twitter">
                                <p><i class="fa fa-twitter"></i> @Bensonsonson</p>
                            </a>
                        </div>
                        <div class="row">
                            <a class="btn btn-theme pull-left" href="Downloads/CV_BenVanBeek.docx" download="BenVanBeekCV"><i class="fa fa-download"></i> Download CV</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div class="cform" id="contact-form">
                                {% if errormessages is defined and errormessages is not empty %}
                                    <div id="errormessages">
                                        <ul>
                                            {% for errormessage in errormessages %}
                                                <li>{{errormessage}}</li>
                                                {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if confirmation is defined and confirmation is not empty %}
                                    <div id="sendmessagephp">
                                        <h4>{{confirmation}}</h4>
                                    </div>
                                {% endif %}
                                <div id="sendmessage">
                                    <h4>Thank you! Your email has been sent. I will contact you ASAP!</h4>
                                </div>
                                <form action="index.php#section-contact" method="post" role="form" class="contactForm" id="contactForm" novalidate>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please fill in your name (min 4 characters)" value="{% if name is defined %}{{name}}{% endif %}" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" value="{% if email is defined %}{{email}}{% endif %}" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="What's your message about? (min 8 characters)" value="{% if subject is defined %}{{subject}}{% endif %}" />
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="3" data-rule="required" data-msg="Please write a message" >{% if message is defined %}{{message}}{% endif %}</textarea>
                                        <div class="validation"></div>
                                    </div>

                                    <button type="submit" class="btn btn-theme pull-left">Send Message</button>
                                </form>

                            </div>
                        </div>
                        <!-- ./span12 -->
                    </div>
                    <div class="col-md-4 align-center">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80071.47970468458!2d4.829195000000002!3d51.159480050000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c15188dc7c0e77%3A0x40099ab2f4d52a0!2sHerentals!5e0!3m2!1snl!2sbe!4v1428584154233" width="auto" height="300" frameborder="0" style="border:1px solid #ddd;"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <!-- section Footer -->
        <section id="footer" class="section footer">
            <div class="container">
                <div class="row align-center copyright">
                    <div class="col-sm-12"><p>benvanbeek.com - 2015</p></div>
                </div>
            </div>
        </section>
        <!-- /footer -->
        <!-- Scroll to top button -->
        <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	
        <!-- /scrolltotop -->

        <!-- SCRIPTS -->
        <script src="src/Presentation/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="src/Presentation/js/jquery.js"></script>
        <script src="src/Presentation/js/jquery.easing.1.3.js"></script>
        <script src="src/Presentation/js/bootstrap.min.js"></script>
        <script src="src/Presentation/js/jquery.nicescroll.min.js"></script>
        <script src="src/Presentation/js/fancybox/jquery.fancybox.pack.js"></script>
        <script src="src/Presentation/js/skrollr.min.js"></script>		
        <script src="src/Presentation/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="src/Presentation/js/jquery.localscroll-1.2.7-min.js"></script>
        <script src="src/Presentation/js/stellar.js"></script>
        <script src="src/Presentation/js/jquery.appear.js"></script>
        <script src="src/Presentation/js/jquery.bxslider.min.js"></script>
        <script src="src/Presentation/js/validate.js"></script>
        <script src="src/Presentation/js/main.js"></script>
        <!-- /scripts -->
    </body>
</html>
